*,
::after,
::before {
  box-sizing: border-box;
}
.landing_navbar_logo {
  width: 7%;
  height: 12%;
  /* border: 3px solid green; */
  /* margin: 5px; */
}
#navbar_landing {
  width: 100%;
  height: 6.5vh;
  background-color: black;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
.landing_navbar_button {
  border: 0.5px;
  color: white;
  font-size: 13px;
  background-color: #007aff;
  border-radius: 5px;
  /* margin: 7px; */
  margin-left: 10px;
}
.d-flex {
  display: flex !important;
}
a {
  color: white;
}

/* head */
.head {
  border: 1px solid red;
  position: relative;
}
.head > img {
  width: 100%;
}
#innerhead {
  position: absolute;
  color: white;
  top: 0;
  margin-top: 500px;
  text-align: center;
  border: 1px solid;
  width: 100%;
}
.innerhead > h1 {
  font-size: 100px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
