body{
    background: url(signin.png);
}
#container{
    background-color: white;
    height: 560px;
    width: 55%;

    border-radius: 15px;
    margin: auto;
    margin-top: 2%;
}
.main{
    height: 400px;
    width: 95%;
    margin: auto;
}
.cross_button_1{
    text-decoration: none;
    color: rgb(106, 112, 112);
    size: 10px;
    background-color: white;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: auto;
}
.applelogo{
    margin: auto;
    
    text-align: center;
}
.applelogo > img{
    height: 65px;
    width: 8.5%;
}
.privacy{
    height: 70px;
    width: 50%;
    
    text-align: center;
    margin: auto;
    color: #212529;
}
.logo{
    margin-top: 10px;
    height: 55;
    width: 9%;
    margin: auto;   
}
.logo > img{
    margin-top: 10px;
    height: 30px;
    width: 50%;
    
}
.para1{
    padding-top: 10px;
    line-height: 1px;
    font-size: 12px;
    color: #8b8686;
    height: 70px;
    width: auto;
    
    text-align: center;
    margin: auto;
}
.para2{
    padding-top: 10px;
    margin-top: 30px;
    line-height: 5px;
    font-size: 12px;
    color: #8b8686;
    height: 70px;
    width: 80%;
  
    text-align: center;
    margin: auto;
}
a{
    text-decoration: none;
}
button{
    margin-top: 20px;
}
button > a{
    text-decoration: none;
    color: white;
}
