::after,
::before {
  box-sizing: border-box;
}

.landing_navbar_logo > img {
  width: 22%;
  height: 20%;
  /* border: 3px solid green; */
  /* margin: 5px; */
}

#navbar_landing {
  width: 100%;
  height: 6.5vh;
  background-color: black;
  justify-content: space-between;
  padding: 26px 45px;
  align-items: center;
}

.landing_navbar_logo {
  cursor: pointer;
}

.landing_navbar_button {
  border: 0.5px;
  color: white;
  font-size: 13px;
  background-color: #007aff;
  border-radius: 5px;
  /* margin: 7px; */
  margin-left: 10px;
  height: 30px;
  width: 100%;
  padding-top: 8px;
  padding-left: 10px;
}

.d-flex {
  display: flex !important;
}

button {
  text-decoration: none;
}

#logo {
  color: white;
  text-decoration: none;
}
/* codapage css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  overflow: hidden;
  height: 600px;
  width: 100%;
  position: relative;
}
/* for */
#container > img {
  width: 100%;
}
/* for Video */
/* #container>video {
    min-width: 100%;
} */

.one {
  position: absolute;
  top: 25px;
  left: 20px;

  color: white;
  height: 60px;
  width: 250px;
}

.one > img {
  width: 100%;
}

.two {
  position: absolute;
  bottom: 80px;
  left: 20px;
  font-size: 23px;
  display: block;

  text-align: center;
  color: white;
  line-height: 40px;
}

#btn1 {
  color: white;
  font-size: 25px;
  background-color: blue;
  padding: 15px 52px 15px 52px;
  border: 1px solid white;
  margin-bottom: 15px;
  border-radius: 5px;
}

#btn2 {
  color: white;
  padding: 15px 40px 15px 40px;
  background-color: #2a2b2b;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid white;
}

.three {
  position: absolute;

  right: 60px;
  bottom: 87px;
  height: auto;
  width: 70%;
  line-height: 20px;
  color: white;
}

.three > .three1 {
  width: 57%;
  margin-top: 42px;
  height: 30px;
}

.three > div > img {
  width: 100%;
  height: 100%;
}

.four {
  position: absolute;
  right: 80px;
  bottom: 75px;
  font-size: 16px;

  font-style: italic;
  color: white;
  line-height: 25px;
}

span {
  color: #221c1e;
}

.trailor {
  width: 100%;
  color: #2d2d2d;
  font-size: 22px;
  margin-top: 12px;
  line-height: 60px;
  margin-left: 20px;
}

.trailor > div {
  width: 18%;
  height: 200px;
}

.trailor > div > img {
  width: 100%;
  border-radius: 10px;
}

hr {
  margin-top: -32px;
}

.hr {
  margin-top: -60px;
}

#related {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 200px);
  gap: 10px;
  padding: 20px;
  margin-top: -10px;
}

.h5tag {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 15px;
}

#related img {
  width: 100%;
  border-radius: 10px;
}

.hrwatch {
  margin-top: -55px;
}

.h5tag2 {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

#watch {
  margin-left: 20px;

  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 25px;
  background-color: #f0f0f3;
  height: 230px;
}

#watch > div > img {
  width: 100%;
  border-radius: 10px;
}

#watch p {
  margin-left: 10px;
  margin-top: 15px;
  color: #212529;
}

.ptag {
  font-size: 14px;
  margin-left: 60px;
  margin-top: 3px;
  color: #808080;
}

.lasthr {
  margin-top: 13px;
}

.ah5 {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

#sher {
  height: 300px;
  width: 100%;
  padding: 25px;
}

#cheeta {
  height: 250px;
  width: 100%;

  margin-top: 10px;
  display: flex;
}

#cheeta > div {
  height: 230px;
  width: 20%;
}

#cheeta > div > div {
  width: 80%;

  height: 120px;
  line-height: 23px;
}

.aytag + p {
  color: #a0a0a0;
}

.a {
  text-align: center;
}

#cheeta > div > div > img {
  width: 100%;
  border-radius: 70px;
}

#lastdiv {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

#lastdiv > img {
  width: 100%;
}

#lastdiv > img + img {
  margin-top: -10px;
}
