*,
::after,
::before {
  box-sizing: border-box;
}

*{
  font-family:LY
  -apple-system, BlinkMacSystemFont, -webkit-system-font, "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

/* nab bar css */
.landing_navbar_logo > img {
  width: 22%;
  height: 20%;

}
#navbar_landing {
  width: 100%;
  height: 6.5vh;
  background-color: black;
  justify-content: space-between;
  padding: 26px 45px;
  align-items: center;
  position:sticky;
  top:0;
}
.landing_navbar_logo {
  cursor: pointer;
}
.landing_navbar_button {
  border: 0.5px;
  color: white;
  font-size: 13px;
  background-color: #007aff;
  border-radius: 5px;
  margin-left: 10px;
}
.d-flex {
  display: flex !important;
}
button {
  text-decoration: none;
}
body{
  /* border:2px solid red; */
  width: 100%;
  box-sizing: border-box !important;
}

#logo {
    color: white;
    text-decoration: none;
  }
#contain{
  overflow: hidden;
  /* border: 1px solid; */
}
  #contain > img{
    width:100%;
}

#overwrite{
    position:absolute;
    bottom:0;
    top:600px;
    cursor:default;
    color:white;
    height:200px;
    width:90%;
    /* border:1px solid blue; */
    margin-left:50px;
    display:flex;
}


#boxbtn{
    width:20%;
  }
  .box{
  cursor:pointer;
    height:50px;
    width:263px;
    text-align: center;
    justify-content: center;
    font-size:15px;
    margin-top: 5px;
    display: flex;
    letter-spacing:normal;
    box-shadow: none;
    border-radius:6px;
    /* border:2px solid pink; */
}

.clr{
  cursor:pointer;
    background-color:#0040dd;
}

#boxbtn>p{
    height:16px;
    width:237px;
    font-size: 12px;
    text-align: center;
    /* margin-top:19px; */
    /* border:1px solid green; */
}
.ing{
  height:11px;
  margin:auto;
  /* border:1px solid; */
  margin-top:-4px;
  margin-right:4px;
}
.box > p{
    padding-top: 5px;
    /* border:1px solid; */
    margin-top:10px;
}
.clr1{
    background-color:#545454;
    cursor: pointer;
    fill: #ffffff;
}

#text{
    height:118px;
    width:753px;
    margin-left:24px;
    /* border:1px solid mediumaquamarine; */
    margin-top: 33px;
}

#para{
    height:64px;
    width:773px;
    /* border: 1px solid red; */
}
#para>p{
    margin:10px;
    font-size: 14px;
    text-align: start;
}
#k-comedy{
  /* border: 1px solid red; */
  height: 13px;
  color:gray;
  width:366px;
  /* margin-left:20px; */
  margin-top: 20px;
  display:flex;
  box-sizing: border-box;
  justify-content:space-evenly;
}
#k-comedy>p{
font-size: 11px;
box-sizing: border-box;
}
.fnt{
  font-size:11px;
  /* border:2px solid black; */
}
#k-comedy > div + div{
  /* border:1px solid rgb(9, 253, 176); */
  box-sizing: border-box;
  margin-top:-5px;
}
#k-comedy > div + div > img{
  height:11px;
  box-sizing: border-box;
  /* border:1px solid blue; */
}
.htw{
  height:20px;
  width:90%;
  margin-left:50px;
  margin-top: 20px;
  /* border:1px solid blue; */
  color:#000000;
  font-weight: bold;
}
hr{
  width:98%;
  margin-left:15px;
  /* margin-top:-5px; */
}
video{
  width:100%;
  /* padding:10px; */
  box-sizing: border-box;
  /* margin-left: 30px; */
}
/* watch box */

#watchbox{
  height: 211px;
  width: 267px;
  cursor: pointer;
  margin-left:50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f0f0f3;
  /* border:3px solid black; */
  border-radius: 12px;
}

#watchbox+p{
  text-align: center;
  height:15px;
  width:267px;
  margin-left:50px;
  font-size:11px;
  margin-top:4px;
  line-height: 13px;
  /* border:1px solid red; */
}

#watchbox > img{
  width:267px;height:150px;
  border-radius:12px 12px 0px 0px;
}

#watchbox  >p{
  /* border: 1px solid blue; */
  text-align:left;
  padding-left:20px;
  margin-top:20px;
  font-size:13px;
}
/* footer */

.f-title{
  /* border:1px solid; */
  font-size:17px;
  Text-align:start;
  color:black;
  font-weight: bold;
  margin-left:40px;
  margin-top:32px;
  height:22px;
}
.foot{
height:594px;
width:100%;
border:1px solid white;
background-color: #f0f0f3;
}

.c-ard{
  height:162px;
  width:459px;
  margin-left:40px;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  /* border:1px solid blue; */
}
#p-card{
  display:flex;
}

#p-title{
  font-size:17px;
  text-align: start;

  /* border:1px solid navy; */
  font-weight:bold;
}
#p-title~p{
  color:gray;
}
#p-subt{
  /* border:1px solid black; */
  font-size: 11px;
  margin-top:-15px;
}
#p-des{
  font-size: 15px;
  margin-top:-15px;
}

/* second card */
#b2-sym{
  display:flex;
}
#b2-sym~p{
  color:gray;
}
#b2-sym>img{
  /* border:1px solid red; */
  height:21px;
}
#p2-head{
  margin-left:4px;
}
#b2-sym+p{
  font-size:11px;
  text-transform: uppercase;
}
#b2-sym+p + p{
  font-size:13px;
}

.f-lower{
  height:287px;
  width:440px;
  padding-left: 40px;
  /* border:1px solid red; */
}

.info{
  /* border:1px solid maroon; */
  margin-top:-5px;
  /* margin:10px; */
}
.bold{
  font-weight: bold;
}
.info p:nth-child(2) {
font-size:12px;
color:gray;
/* border:1px solid black; */
margin-top:-20px;
}
p:nth-child(1){
  font-size:12px;
}
.graay{
  color:gray;
  /* border:1px solid black; */
  background-color: #f0f0f3;
  padding-bottom:10px;
}
.bluue{
  color:#007aff;
  cursor:pointer;
}

/* last footer part */

.footer {
  padding: 15px 40px 5px 40px;
  font-size: 11px;
  height:80px;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  color: #8f8e8e;
}
.footer1 > button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.footer2 {
  color: #383737;
  cursor: pointer;
}


