*,
::after,
::before {
  box-sizing: border-box;
}
.landing_navbar_logo > img {
  width: 22%;
  height: 20%;
  /* border: 3px solid green; */
  /* margin: 5px; */
}
#navbar_landing {
  width: 100%;
  height: 6.5vh;
  background-color: black;
  justify-content: space-between;
  padding: 26px 45px;
  align-items: center;
}
.landing_navbar_logo {
  cursor: pointer;
}
.landing_navbar_button {
  border: 0.5px;
  color: white;
  font-size: 13px;
  background-color: #007aff;
  border-radius: 5px;
  /* margin: 7px; */
  margin-left: 10px;
}
.d-flex {
  display: flex !important;
}
button {
  text-decoration: none;
}
#logo {
  color: white;
  text-decoration: none;
}

/* ============================================ */
/* head */
.head {
  position: relative;
  margin-bottom: 30px;
}
.head > img {
  width: 100%;
}
#innerhead {
  position: absolute;
  color: white;
  top: 0;
  margin-top: 465px;
  text-align: center;
  width: 100%;
}
#innerhead > h1 {
  font-size: 80px;
  margin-bottom: 20px;
}
#innerhead > button {
  padding: 5px 45px 5px 45px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
#innerhead > p {
  font-size: 12px;
  line-height: 5px;
  color: #888c8d;
}
#innerhead > p > span {
  color: #0167d6;
  cursor: pointer;
}

/* ============================================= */
.best_picture {
  padding: 0px 40px 10px 40px;
}
.best_picture > h6 {
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 0px;
  color: #1f1f1fd8;
}
.best_picture > p {
  font-size: 15px;
  line-height: 22px;
  color: #989898;
}
.picture {
  padding: 5px 10px 8px 4px;
  cursor: pointer;
}
.picture > img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
.line {
  width: 93%;
  margin: auto;
}
.small_best_pictures > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}

/* =================================== */
.seasons {
  padding: 0px 35px 10px 40px;
}
.seasons > h6 {
  line-height: 20px;
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #1f1f1fd8;
}
.inner_seasons {
  width: 240px;
  height: 135px;
  margin-right: 20px;
  padding: 0px 5px 10px 5px;
  cursor: pointer;
}
.inner_seasons > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
.all_seasons_div > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}

/* ============================================== */
.latest_originals {
  padding: 0px 45px 10px 46px;
}
.latest_originals > h6 {
  line-height: 20px;
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #1f1f1fd8;
}
.bigdiv {
  width: 350px;
  cursor: pointer;
}
.imagediv {
  width: 220px;
  height: 130px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.imagediv > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
.latest_details {
  width: 200px;
  height: 120px;
  padding: 15px 0px 15px 20px;
}
.originals_head {
  font-size: 12px;
  color: #838080de;
  line-height: 15px;
}
.originals_head + p {
  font-size: 15px;
  line-height: 20px;
  margin: -15px 0px 0px 0px;
}
.inside_latest > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}

/* ================================================ */
.coming_soon {
  padding: 0px 45px 10px 46px;
}
.coming_soon > h6 {
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 0px;
  color: #1f1f1fd8;
}
.coming_soon > p {
  font-size: 15px;
  line-height: 22px;
  color: #989898;
}
.comingSoonData {
  width: 300px;
  height: 170px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  padding-bottom: 8px;
  padding-left: 5px;
}
.comingSoonData > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
.comingSoonData > p {
  top: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: 140px;
  font-size: 13px;
}
.inner_coming_soon > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}
/* ========================================================== */

.big_slides {
  width: 93%;
  margin: auto;
  margin-top: 30px;
}
.innerBigSlides {
  position: relative;
  padding-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
}
.innerBigSlides > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
.innerBigSlides > p {
  top: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  color: white;
  margin-top: 420px;
  font-size: 18px;
  font-weight: bold;
}
.big_slides > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}
/* ================================================= */

.page_to_screen,
.ambition,
.findingVoices,
.friendship,
.dramaSeries {
  padding: 0px 35px 10px 45px;
}
.page_to_screen > h6,
.ambition > h6,
.findingVoices > h6,
.friendship > h6,
.dramaSeries > h6 {
  line-height: 20px;
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #1f1f1fd8;
}
.pageToScreenData,
.ambitionData,
.findingVoicesData,
.friendshipData,
.dramaSeriesData {
  width: 240px;
  height: 135px;
  margin-right: 20px;
  padding: 0px 5px 10px 5px;
  cursor: pointer;
}
.pageToScreenData > img,
.ambitionData > img,
.findingVoicesData > img,
.friendshipData > img,
.dramaSeriesData > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
.insidePageToScreen > button,
.innerAmbition > button,
.innerFindingVoices > button,
.innerFriendship > button,
.innerDramaSeries > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}
/* ============================================= */

.join_the_conversation {
  padding: 0px 45px 10px 46px;
}
.join_the_conversation > h6 {
  line-height: 20px;
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #1f1f1fd8;
}
.bigdiv {
  width: 350px;
  cursor: pointer;
}
.imagediv {
  width: 220px;
  height: 130px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.imagediv > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(53, 52, 52, 0.521) 0px 3px 8px;
}
.conversation_details {
  width: 200px;
  height: 120px;
  padding: 15px 0px 15px 20px;
}
.conversation_head {
  font-size: 12px;
  color: #838080de;
  line-height: 15px;
}
.conversation_head + p {
  font-size: 15px;
  line-height: 20px;
  margin: -15px 0px 0px 0px;
}
.inside_conversation > button {
  background-color: rgba(230, 227, 227, 0.664);
  border-radius: 50%;
}
/* ===================================================== */

/* pachinko is here's CSS is same as best picture coda's CSS  */
/* ======================================================== */
