*,
::after,
::before {
  box-sizing: border-box;
}
.landing_navbar_logo > img {
  width: 22%;
  height: 20%;
  /* border: 3px solid green; */
  /* margin: 5px; */
}
#navbar_landing {
  width: 100%;
  height: 6.5vh;
  background-color: black;
  justify-content: space-between;
  padding: 26px 45px;
  align-items: center;
}
.landing_navbar_logo {
  cursor: pointer;
}
.landing_navbar_button {
  border: 0.5px;
  color: white;
  font-size: 13px;
  background-color: #007aff;
  border-radius: 5px;
  /* margin: 7px; */
  margin-left: 10px;
}
.d-flex {
  display: flex !important;
}
button {
  text-decoration: none;
}
#logo {
  color: white;
  text-decoration: none;
}

/* ============================================ */
/* head */
.head {
  position: relative;
  margin-bottom: 30px;
}
.head > img {
  width: 100%;
}
#innerhead {
  position: absolute;
  color: white;
  top: 0;
  margin-top: 465px;
  text-align: center;
  width: 100%;
}
#innerhead > h1 {
  font-size: 80px;
  margin-bottom: 20px;
}
#innerhead > button {
  padding: 5px 45px 5px 45px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
}
#innerhead > p {
  font-size: 12px;
  line-height: 5px;
  color: #888c8d;
}
#innerhead > p > span {
  color: #0167d6;
  cursor: pointer;
}

/* ============================================= */
.best_picture {
  padding: 0px 40px 10px 40px;
}
.best_picture > h6 {
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 0px;
  color: #3b3b3b;
}
.best_picture > p {
  font-size: 15px;
  line-height: 22px;
  color: #989898;
}
.picture {
  padding: 5px 10px 8px 4px;
}
.picture > img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 8px;
}
