/* *{
    padding:0;
    margin:0;
} */
.lower_section {
  padding-left: 2%;
  margin-top: 2%;
}
.lockup-overlay__playback__full-hit-area > img {
  border-radius: 15px;
  height: 135px;
}
.related_pics {
  display: inline-block;
}
.img_class {
  padding-right: 2%;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img_class1 {
  padding-right: 2%;
  width: 240px;
  height: 130px;
}
.product-footer {
  width: 100%;
  padding: 32px 0;
  font-size: 15px;
}
.secondary-bg-color {
  background-color: #f0f0f3;
}
.product-footer__container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 40px;
}

.product-footer__title {
  padding-top: 13px;
  padding-bottom: 13px;
}

h2.product-footer__title.typ-headline-emph {
  font-size: 17px;
  font-weight: 650;
}
.product-footer__title {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 15px;
}
.typ-headline-emph > span {
  font-size: 20px;
}
.review-card__title--sub--list {
  font-size: 13px;
  margin-left: -30px;
}

.product-footer__info {
  border-bottom: 0.5px solid var(--labelDivider);
  padding-bottom: 32px;
}
.product-footer__info,
.product-footer__metadata {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.product-footer__metadata__section__title {
  padding-top: 13px;
  padding-bottom: 13px;
}
.product-footer {
  width: 1400px;
  margin-left: -30px;
}
.typ-caption {
  font-weight: 400;
  line-height: 1.34;
}
.product-footer__metadata__section__desc {
  margin-bottom: 20px;
}
.clr-secondary-text,
.watch-card-lockup__content__subtitle {
  color: rgba(0, 0, 0, 0.56);
}
.review-card {
  background-color: white;
  padding: 14px 16px;
  border-radius: 12px;
  overflow: hidden;
}
.review-card__title {
  padding-bottom: 5px;
  margin: 0;
}
.typ-headline-emph {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.23;
}
.review-card__title span {
  display: block;
}
.review-card__title--sub {
  margin-top: 5px;
}
.typ-footnote {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.19;
}
.review-card__title--sub--list {
  list-style: none;
}
.line-clamp-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: calc(10px * -1);
  margin-bottom: calc(10px * -1);
  margin-right: calc(10px * -1);
  margin-left: calc(10px * -1);
  padding: 10px;
}
.line-clamp-wrapper > button {
  border: none;
  font-size: 10px;
  color: #007aff;
  background: none;
}
footer {
  font-size: 12px;
  height: 100px;
  padding-top: 10px;
}
footer > div > p {
  margin-bottom: 5px;
}
.global-footer__links {
  margin: 4px;
  padding-left: 1%;
}
.clr-primary-text {
  color: black;
}
.copyright {
  padding-left: 1%;
}
.nav-header__wrapper {
  overflow: hidden;
  transition: height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
}
.nav-header,
.nav-header__wrapper {
  height: 52px;
  background-color: #000;
}
.nav-header__bg {
  height: 44px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-header__content {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 44px;
  grid-template-areas: "logo opentv . auth";
  align-items: center;
  justify-items: center;
  position: relative;
  max-width: 1680px;
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}
.mobile-nav-button {
  display: none;
  width: 44px;
  height: 44px;
  grid-area: menu-trigger;
  position: relative;
  top: 0;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: white;
  border: none;
  -webkit-tap-highlight-color: white;
  z-index: 1;
}
.mobile-nav-bread {
  top: 12px;
  height: 20px;
}
.mobile-nav-bread--top {
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  transform: none;
  z-index: 1;
}
.mobile-nav-bread,
.mobile-nav-bread-crust {
  width: 20px;
  position: absolute;
  left: 0;
  z-index: 1;
}
.mobile-nav-bread--bottom {
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  transform: none;
}
.nav-header__tv-plus-logo {
  background-image: url("https://tv.apple.com/assets/brands/Apple_TV_plus_logo_white-2721485772b7d06c4e33379ce990870e.svg");
  background-size: 53px 18px;
}
.nav-header__logo {
  grid-area: logo;
  height: 19px;
  width: 55px;
  opacity: 1;
  display: block;
  margin-right: 15px;
  margin-top: 10px;
}
.nav-header__nav-container {
  display: none;
}
.nav-header__nav {
  display: flex;
  flex-direction: column;
}
.nav-header__user-controls {
  grid-area: auth;
  display: flex;
  align-items: center;
  margin-right: 0;
}
.nav-header__user-controls .commerce-button {
  margin-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 16px;
  border: none;
  background-color: #007aff;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 8px;
}
.commerce-button {
  height: 28px;
  width: 80px;
  position: relative;
  border-radius: 6px;
  border-width: 1px;
  background-color: white;
  cursor: pointer;
  color: #fff;
  z-index: 1;
  font-size: 13px;
  line-height: 1.30772;
  font-weight: 500;
  letter-spacing: 0;
}
.commerce-button__avatar {
  margin-top: -3px;
  z-index: 1;
  right: 44px;
  position: static;
}

h4 {
  font-size: 17px;
  font-weight: 500;
}
.watch-card-lockup {
  display: block;
  box-sizing: content-box;
  margin-bottom: 4px;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  width: 100%;
  text-align: left;
  box-shadow: 0 4px 7px rgb(0 0 0 / 25%);
  border-radius: 12px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.secondary-bg-color {
  background-color: #f0f0f3;
}
.card {
  width: 15rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(202, 199, 199, 0.342);
}
.card > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.watch {
  margin-bottom: 2%;
}
.watch > p {
  font-size: 11px;
  margin-left: 35px;
  margin-top: 5px;
}

.slider {
  display: flex;
  height: 160px;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  padding: 16px;
  padding-left: 10px;
  transform: scroll(calc(var(--i, 0) / var(--n) * -100%));
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
}
.slider::-webkit-scrollbar-thumb {
  background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.slide {
  position: relative;
}
.slide img {
  margin: 0 10px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.slide img.zoomed {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1000;
  transform: scale(1) translatey(0) !important;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  display: none;
}
.overlay.active {
  display: block;
}
@media only screen and (max-width: 420px) {
  .slider {
    padding: 0;
  }
  .slide {
    padding: 16px 10px;
  }
  .slide img {
    margin: 0;
  }
  .control-prev-btn {
    top: 37%;
  }
  .control-next-btn {
    top: 37%;
  }
}

.lockup-overlay__playback__full-hit-area {
  height: 100%;
  width: 100%;
  display: inline;
  background-color: transparent;
  border: none;
  border-radius: 12px;
  z-index: 1;
  box-sizing: border-box;
}

.img-slider__container-1 {
  display: flex;
  column-gap: 20px;
  width: 100%;
  overflow: auto;
  justify-content: start;
  align-items: center;
}

.img-slider__container-1 img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
